
.Funds_ParentContainer{
    display: flex;

}

.Funds_main{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.Funds_carddiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}


.Funds_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    margin: 20px;
    border-radius: 5px;
    background-color: white;
}

.Funds_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Funds_Card_Container{
    padding: 2px 16px;
    width: 100%;
    position: relative;
}



.Funds_progresscontainer{
    width: 200px;
}

.Funds_ProgressBar{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}

.Funds_progress-bar-fill{
    height: 100%;
    border-radius: 10px;
    background-color: #2ecc71;
    transition: width 0.5s ease-out;
}

.Funds_Progress-label{
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #444444;
}

.Funds_progress-button{
    background-color: blue;
    border-radius: 6px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    outline: 0;
    text-align: center;
    margin-right: 10px;
    margin-top: 15px;
}

.Funds_add{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;

}

.funds_addingitem{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
width: 100%;
height: 50px;
margin: 30px 0;
}


.funds_addingitem button{
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0,0,0,0.4);
  }

  .funds_addingitem button:hover{
    background-color: #7f00ff;
    }

 .funds_addingitem input{
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
 }   

#fundsdetail-input{
    resize: both;
 }


.funds_volunteer-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .funds_volunteer-form-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    height: 30%;
    text-align: center;
    overflow: auto;
  }


  .funds_volunteer-form-container-transaction{
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    height: 55%;
    text-align: center;
    overflow: auto;
  }
  
  .funds_volunteer-form-container input{
    align-self: center;
    width: 70%;
    height: 15%;
    font-size: 40px;
    border-radius: 10px;
    margin: 2%;
  }
  .funds_volunteer-button-form {
    position: static;
    transform: translateX(0);
    color: white;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  
  .funds_volunteer-button-form:hover {
    color: #fff;
    background-color: #1A1A1A;
    background-color: rgb(14, 14, 14) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0 8px 15px;
    transform: translateX(0) !important;
  }
  
  .funds_volunteer-form-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  
  
  .Funds_titleandbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Funds_deleteEditbtn{
    width: 50px;
    background: transparent;
    border: none;
    font-size: larger;
  }

  .Funds_deleteEditbtn:hover{
    cursor: pointer;
  }


  .funds_transactionli{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 5px;

  }

  .funds_titleexit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .funds_titleexit button {
    background-color: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: xx-large;
  }


  .funds_editaddcancel{
    cursor: pointer;
  }


  .funds-inputandbuttoncontainer{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }

  .funds-inputandbuttoncontainer input{
      width: 100%;
      height: 100%;
  }


  .funds-twobuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }



  
.funds_Landing_wrapper::before{
  position: absolute;
  content: '';
  height: 350px;
  width: 350px;
  border-radius: 50%;
  left: 20%;
  top: 50%;
  background: linear-gradient(45deg, #4c00ffea, rgba(77, 54, 54, 0.2));
  animation: object1 20s linear infinite;
  z-index: -1;
}




.funds-transaction-delete{
  background: transparent;
  font-size: larger;
  cursor: pointer;
}


.funds_Landing_wrapper::after{
  position: absolute;
  content: '';
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 10%;
  top: 12%;
  background: linear-gradient(45deg, #2300a1cc, rgb(53, 53, 53, 0.2));
  animation: object2 23s linear infinite;
  z-index: -1;
}

@keyframes object1{
  50%{
      left:25;
      top: 30%;
  }
}

@keyframes object2{
  50%{
      left: 20%;
      top: 10%;
  }
}

.css-nrkw1r-MuiLinearProgress-root {
  height: 20px !important;
}