body{
    display:flex; 
    justify-content: center; 
    align-items: center;
    background-image: url(../galaxy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: slateblue;
}

.addWrap{
    margin: 10px;
    padding: 5px; 
    border: 5px solid darkmagenta;
    border-radius: 5px; 
}

.detailBtn{
    border: 5px solid;
    border-radius: 5px;
    background-color: slateBlue;
    color: rgb(238, 132, 238); 
}

.detailBtn:hover {
    background-color: slategrey;
    color: skyblue;
}