.mainpage{

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  background-color: #7f00ff;
  color: white;
  margin: 0;
  padding: 10px
}

.mainpage div h1{
  margin: 0;
}

.mainpage div img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin-top: 10px;
}

.mainpage div {
  margin-left: 20px;
  margin-right: 20px;
}

.event-container {
  display: flex;
  flex-direction: column;
  background-color: #ab57ff;
  padding: 10px;
  height:fit-content;
  margin-top: 10px;
  border-radius: 10px;
  border: solid #f2f2f2;
  align-items: center;
}

.event-list {
  display: flex;
  flex-direction: row;
  list-style-type:none;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-list li{
  border: solid #f2f2f2;
  border-radius: 5px;
  background-color: #f2f2f26b;
  text-align: center;
  width: 200px;
  padding-left: 3px;
}


.progress-bar-container {
  width: 85%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}

.dashboardTitle {
  height: 1em;
}

.leftSideVisPage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.home_reg_links {
  margin-top: 230px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}


.homePageButtons {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  padding: 10px;
}

/* .nav{
  background-color: #282c34;
}

.nav button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.NavBar{
  color: white;
} */

.welcome{
  font-weight: bolder;
}

.name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: #282829 !important;
}

.css-h4y409-MuiList-root {
  border-bottom: solid gray 1px;
  border-width: 80%;
}

.css-h4y409-MuiList-root a div{
  margin-left: 10px;
}

.css-h4y409-MuiList-root a {
  color: white;
}

.css-h4y409-MuiList-root a:hover {
  width: 100%;
  background-color: rgba(0, 0, 0, .25);
}

.css-i4bv87-MuiSvgIcon-root {
  font-size: 35px;
}

.nav button {
  background: transparent;
  border: none;
  color: white;
}
.nav button:hover {
  cursor: pointer;
}

.Parent-Container{
  display: flex;
}