.EventParentContainer {
   display: flex; 
   flex-direction: row; 
   overflow: hidden;
   background: linear-gradient(45deg, #4c00ffea, rgba(77, 54, 54, 0.548));
}

.eventPortion{
   width: 100%;
}

#cal {
   display: flex; 
   justify-content: center;
}

.main {
    margin-right:auto;
    width: 50%;
    padding: 0.7rem;
    margin-left: auto;
    border: 1px solid blue;
 }
 .header {
    display: flex;
    margin-bottom: 0.7rem;
    justify-content: space-between;
    align-items: center;
 }
 .header button {
    font-size: 1.4rem;
    cursor: pointer;
 }
 .body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
 }
 
 #postEventFields {
   position: fixed;
   color: white;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: linear-gradient(45deg, #4c00ffea, rgba(77, 54, 54, 0.548));
   padding: 20px;
   border: 5px solid white;
   border-radius: 10px;
   z-index: 999;
 
 }

 #centerBtn {
   display:flex; 
   justify-content: center;
 }

 #togglerBtn {
   outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 10px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
 }

#togglerBtn:hover {
   background-color: #7f00ff;
}

.eventfield {
   margin-bottom: 20px;
 }


 .baby{
   width: 3%;
   position: absolute;
   animation: baby 8s linear infinite alternate-reverse;
}


@keyframes baby {
   from{
       left: 4%;
   }
   to {
       left: 97%;
   }
}
 
 