.parent-container{
  display:flex;
}

.main{
  width: 100%;
}

.header {
  background-color: rgb(44, 56, 216);
  padding: 10px;
  display: flex;
  align-items: center ;
  gap: 15px
}

.headerInputContainer {
  display: flex;
  flex-grow: 1;
}

.headerInput {
  outline: none;
  padding: 7px;
  margin-left: 10px;
  flex: 1;
}

.headerText {
  color: white;
  font-size: 13px;
}

.headerBottom {
  background-color: #123456;
  padding: 5px;
  height: 30px;
  display: flex;
  align-content: end;
}

.shopBody {
  background-color: f0f0f0;
  height: max-content;
}

.bodyItem {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(188, 222, 252);
}

.productItem {
  background-color: white;
  margin: 10px;
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.itemTitle {
  font-weight: 800;
  height: 2em;
  align-content: center;
}

.description {
  font-weight: 300;
}

.itemTitle:hover {
  color: rgb(125, 137, 247);
}

.cart {
  display: flex;
  flex: 1;
  gap: 10px;
}

.cartLeft {
  flex: 0.7;
  margin: 15px;
  padding: 10px;
  background-color: rgb(188, 222, 252);
  align-content: center;
  border-radius: 10px;
}

.cartContainer {
  display: flex;
  margin-bottom: 20px;
  border: black solid;
  background-color: aliceblue;
  align-items: center;
  border-radius: 5px;
}

.cartImage {
  display: flex;
  align-items: center;
}

.cartDescription {
  margin-left: 10px;
  margin-right: 5px;
  padding: 10px;
  flex-grow: 1;
  border: black solid;
  background-color: rgb(188, 222, 252);
  align-content: center;
  border-radius: 5px;
}

.cartButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  gap: 5px;
  background-color: rgb(188, 222, 252);
}

.cartButton {
  background-color: rgb(188, 222, 252);
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.cartButtonContainer {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
}

.cartRight {
  background-color: rgb(188, 222, 252);
  flex: 0.3;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}

.checkoutContainer {
  margin-top: 15px;

}

.checkout {
  display: flex;
  justify-content: space-between;
  font-size: 24px;

}