@import url(https://fonts.googleapis.com/css?family=Oswald:400);



.logoutImg {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
}

.button {
	text-decoration: none;
    float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: #282c34;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 100px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

.navigation {
  position: absolute;
  top: -2px;
  right: 10px;
}

.navigation .button{ 
  margin: 0;
}

