@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}


.mainpage{

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  /* background: linear-gradient(45deg, #4c00ffea, rgba(77, 54, 54, 0.548)); */
  background-color: #f3f5f8;
  color: white;
  margin: 0;
  padding: 10px
}

.mainpage div h1{
  margin: 0;
}

.mainpage div img {
  width: 215px;
  height: 285px;
  border-radius: 5px;
  margin-top: 10px;
}

.mainpage div {
  margin-left: 20px;
  margin-right: 20px;
}

.event-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #4c00ffea, rgba(77, 54, 54, 0.2));
  padding: 10px;
  height:fit-content;
  margin-top: 10px;
  border-radius: 10px;
  border: solid #f2f2f2;
  align-items: center;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.952);
}

.event-list {
  display: flex;
  flex-direction: row;
  list-style-type:none;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-list li{
  border: solid #f2f2f2;
  border-radius: 5px;
  background-color: #f2f2f26b;
  text-align: center;
  width: 200px;
  padding-left: 3px;
}


.progress-bar-container {
  width: 85%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}

.dashboardTitle {
  height: 1em;
}

.leftSideVisPage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #3d535f;
  font-weight: 400;
  z-index: 1;
}

.home_reg_links {
  margin-top: 130px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.homePageTitle {
display: flex;
font-size: 40px;
font-weight: 800;
color: #3d535f;
letter-spacing: 3px;
cursor: pointer;
text-transform: uppercase;
}

.homePageButtons {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.712);
  cursor: pointer;
  font-size: 16px;
  color: #3d535f;
  font-weight: 600;
  padding: 10px;
}

.mopeyImg {

  animation: moveUpDown 2s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-20px);
  }
}


.Parent-Container{
  display: flex;
}